<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Harry Hu" />
    <meta name="gmail" content="hujiangtao1235@qq.com" />
    <meta name="github" content="https://github.com/SoftwareDreamer" />
    <meta name="description" content="HuanCMS" />

</head>
    <body>
        这里是HuanCMS的API。--Powered By Harry Hu.
    </body>
</html>
